{% extends 'GsupForumBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock title %}

{% block content_row %}
    <h1>{{ post.title }}</h1>
    <div>{{ post.content }}</div>
{% endblock content_row %}